<!-- teste

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
></ngx-spinner>
<div class="toolbar">
  <button (click)="showLoadCircuitModal = true">Load Circuit</button>
  <input
    type="text"
    [(ngModel)]="circuitName"
    placeholder="Enter Circuit Name"
    class="form-control"
  />
  <div *ngIf="showLoadCircuitModal">
    <button (click)="_loadCircuitOption = LoadCircuitOption.API">
      Load from API
    </button>
    <button
      (click)="
        _loadCircuitOption = LoadCircuitOption.File; handleFileInput($event)
      "
    >
      Load from File
    </button>

    <div *ngIf="_loadCircuitOption === LoadCircuitOption.API">
      <input
        type="text"
        [(ngModel)]="circuitId"
        placeholder="Enter Circuit ID"
      />
      <button (click)="loadCircuitFromAPI()">Fetch</button>
    </div>

    <input
      type="file"
      (change)="handleFileInput($event)"
      *ngIf="_loadCircuitOption === LoadCircuitOption.File"
      hidden
    />
  </div>

  <button (click)="onSave()">Save Circuit</button>
  <button (click)="onAnalyze()">Analyze Circuit</button>
</div>
<app-simulation-config></app-simulation-config>
<app-circuit-editor></app-circuit-editor>a -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="toolbar mb-3">
        <button class="btn btn-primary" (click)="showLoadCircuitModal = true">
          Load Circuit
        </button>
        <input
          type="text"
          [(ngModel)]="circuitName"
          placeholder="Enter Circuit Name"
          class="form-control mx-2"
        />
        <button class="btn btn-success" (click)="onSave()">Save Circuit</button>
        <button class="btn btn-danger" (click)="onAnalyze()">
          Analyze Circuit
        </button>
        <app-simulation-config></app-simulation-config>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-circuit-editor></app-circuit-editor>
    </div>
    <div class="col-md-6">
      <!-- Aqui você pode colocar outros componentes ou informações adicionais -->
    </div>
  </div>
</div>
