<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  color="#fff"
  size="medium"
  type="ball-spin-clockwise"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="container" style="margin: 0; padding: 0">
  <div class="header">
    <div class="circuitTitle">
      <input
        [(ngModel)]="circuitName"
        class="customPlaceholder"
        matInput
        placeholder="Circuit Name*"
      />
    </div>
    <div class="navCircuit">
      <mat-form-field appearance="fill" class="customPlaceholder">
        <input
          [(ngModel)]="circuitId"
          class="customPlaceholder"
          matInput
          placeholder="Circuit ID"
        />
      </mat-form-field>
    </div>

    <div class="navButtons">
      <button (click)="loadCircuit()" mat-icon-button matTooltip="Load Circuit">
        <mat-icon class="colorIcon">folder_open</mat-icon>
      </button>
      <button (click)="saveCircuit()" mat-icon-button matTooltip="Save Circuit">
        <mat-icon class="colorIcon">save</mat-icon>
      </button>
      <button
        (click)="sendForAnalysis()"
        mat-icon-button
        matTooltip="Send Circuit"
      >
        <mat-icon class="colorIcon">insert_chart_outlined</mat-icon>
      </button>

      <input
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
        type="file"
      />

      <button
        (click)="fileInput.click()"
        mat-icon-button
        matTooltip="Send file"
      >
        <mat-icon class="colorIcon">folder</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Settings">
        <mat-icon class="colorIcon">settings</mat-icon>
      </button>
    </div>
  </div>
  <div class="editor-container">
    <div class="palette" #paletteDiv id="paletteDiv">
      <!-- Paleta para arrastar componentes -->
    </div>
    <div class="diagram" #diagramDiv id="diagramDiv">
      <!-- Área principal do diagrama -->
    </div>
  </div>
  <!-- <app-circuit-editor [diagramDiv]="diagram"></app-circuit-editor> -->
  <app-results-console></app-results-console>
  <!--  <app-config-menu></app-config-menu>-->
  <!--  <div class="results-console">-->
  <!--    -->
  <!--  </div>-->
</div>
