.container {
  display: grid;
  grid-template-rows: 50px 1fr; /* 50px para o cabeçalho e o restante para o editor */
  height: 100vh;
  width: 100%;
  max-width: -webkit-fill-available;
}

.header {
  grid-row: 1;
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente dentro do cabeçalho */
  padding: 0 10px;
  background-color: #4b4b4b; /* Cor de fundo para o cabeçalho */
  border-bottom: 1px solid #ccc; /* Linha divisória */
  justify-content: space-between;
}

.customPlaceholder::placeholder,
.customPlaceholder {
  color: cornsilk;
}

app-circuit-editor {
  grid-row: 2;
  width: 100%; /* Garante que o componente ocupe todo o espaço horizontal disponível */
  overflow: hidden; /* Evita scroll indesejado */
}

.results-console {
  grid-area: console;
}

.colorIcon {
  color: cornsilk;
}

.editor-container {
  display: grid;
  grid-template-columns: 150px auto; /* Largura da paleta e diagrama */
  height: 100%; /* Utilizar o espaço restante do container parent */
}

.palette {
  border-right: 2px solid #ccc;
  overflow: auto; /* Para scrolling se houver muitos itens */
}
