<!-- <div class="palette" id="paletteDiv">
  <div
    #diagramDiv
    id="diagramDiv"
    style="width: 800px; height: 600px; border: 1px solid black"
  ></div>
</div>
<div class="diagram" id="diagramDiv">
  <div
    #paletteDiv
    id="paletteDiv"
    style="width: 100px; height: 600px; border: 1px solid grey"
  ></div>
</div> -->
<div class="editor-container">
  <div class="palette" #paletteDiv id="paletteDiv">
    <!-- Paleta para arrastar componentes -->
  </div>
  <div class="diagram" #diagramDiv id="diagramDiv">
    <!-- Área principal do diagrama -->
  </div>
</div>
