// #paletteDiv {
//   width: 100px;
//   height: 600px;
//   border: 1px solid grey;
//   float: left; /* Para alinhar à esquerda */
// }

// #diagramDiv {
//   width: calc(100% - 100px);
//   height: 600px;
//   border: 1px solid black;
//   float: right;
// }

.editor-container {
  display: grid;
  grid-template-columns: 150px auto; /* Largura da paleta e diagrama */
  height: 100%; /* Utilizar o espaço restante do container parent */
}

.palette {
  border-right: 2px solid #ccc;
  overflow: auto; /* Para scrolling se houver muitos itens */
}
